@inject NavigationManager NavigationManager

@if(Products!= null && Products.Any())
{
    foreach (var prod in Products)
    {
        <tr>
            <td class="fw-medium">@prod.ProductName</td>
            <td>@prod.Quantity</td>
            <td>@prod.Price.ToString("c")</td>
            <td class="text-end">
                <button type="button" 
                        class="btn btn-sm btn-outline-primary" 
                        @onclick="@(() => EditProduct(prod))">
                        Edit
                </button>
            </td>
        </tr>
    }
}

@code {
    [Parameter]
    public List<Product> Products { get; set; } = new List<Product>();

    private void EditProduct(Product product)
    {
        NavigationManager.NavigateTo($"/editproduct/{product.ProductId}");
    }
}