@if(Products!= null && Products.Any())
{
    foreach (var item in Products)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Quantity</td>
            <td>@item.Price.ToString("c")</td>
            <td>
                <button class="btn btn-light" @onclick="@(() => EditProduct(item))">Edit</button>
            </td>
        </tr>
    }
}

@code {
    [Parameter]
    public List<Product> Products { get; set; } = new List<Product>();

    private void EditProduct(Product item)
    {
        
    }
}