<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav mb-2 mb-lg-0 float-end">
            @if (authenticationState != null && !string.IsNullOrWhiteSpace(authenticationState.User?.Identity?.Name))
            {
                <li class="nav-item">
                    <a class="nav-link">Hello <strong>@authenticationState.User.Identity.Name</strong></a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link active" href="/identity/account/logout">Sign Out</a>
            </li>
        </ul>

    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav mb-2 mb-lg-0 float-end">
            <li class="nav-item">
                <a class="nav-link active" href="/identity/account/login">Sign In</a>
            </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    private AuthenticationState? authenticationState;

    protected override async Task OnInitializedAsync()
    {
        if (authenticationStateTask != null) authenticationState = await authenticationStateTask;
    }
}