<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center gap-3">
            @if (authenticationState != null && !string.IsNullOrWhiteSpace(authenticationState.User?.Identity?.Name))
            {
               <div class="d-flex align-items-center gap-2">
                   <div class="bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 32px; height: 32px; font-weight: 600;">
                       @authenticationState.User.Identity.Name.Substring(0, 1).ToUpper()
                   </div>
                   <span class="fw-medium text-dark small">@authenticationState.User.Identity.Name</span>
               </div>
            }
            <a class="btn btn-sm btn-outline-secondary" href="/identity/account/logout">Descnectar</a>
        </div>

    </Authorized>
    <NotAuthorized>
        <a class="btn btn-primary btn-sm" href="/identity/account/login">Sign In</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    private AuthenticationState? authenticationState;

    protected override async Task OnInitializedAsync()
    {
        if (authenticationStateTask != null) authenticationState = await authenticationStateTask;
    }
}