@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th scope="col" class="text-secondary text-uppercase small fw-bold">Name</th>
                <th scope="col" class="text-secondary text-uppercase small fw-bold">Quantity</th>
                <th scope="col" class="text-secondary text-uppercase small fw-bold">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <InventoryListItemComponent Inventories="@Inventories" />
        </tbody>
    </table>
</div>

@code {
    private List<Inventory> Inventories = new List<Inventory>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        Inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync(this.SearchTerm)).ToList();
    }
}