.search-result {
    overflow-y: auto;
    max-height: 300px;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.list-group-item.active {
    background-color: var(--primary-light);
    color: var(--primary-color);
    border-color: transparent;
}
